In [1]:
tup = (4, 5, 6)

In [2]:
tup

(4, 5, 6)

In [3]:
tup?

Type:        tuple
String form: (4, 5, 6)
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [4]:
tup2 = 4,5,6
tup2?

Type:        tuple
String form: (4, 5, 6)
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [5]:
tuple([1,2,3])

(1, 2, 3)

In [6]:
tup2 = tuple([1,2,3])

In [7]:
tup2?

Type:        tuple
String form: (1, 2, 3)
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [8]:
tup2[1]

2

In [9]:
tup2?

Type:        tuple
String form: (1, 2, 3)
Length:      3
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [10]:
tup2[0]

1

In [11]:
tup2(0)

TypeError: 'tuple' object is not callable

In [12]:
tup2[0]?

Type:        int
String form: 1
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [13]:
print(tup2[0])

1

In [14]:
tup

(4, 5, 6)

In [15]:
tup2

(1, 2, 3)

In [16]:
tup2[0]

1

In [17]:
tup = ('foo', [1,2], True)
tup

('foo', [1, 2], True)

In [18]:
tup[2]

True

In [19]:
tup[1].append(3)
tup[1]

[1, 2, 3]

In [20]:
('a', 'b') * 4

('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')

In [21]:
a, b = (1, 2)

In [22]:
a

1

In [23]:
b

2

In [24]:
a , b , c = ('1', True, [1,2])

In [25]:
a

'1'

In [26]:
b

True

In [27]:
c

[1, 2]

In [28]:
a,b, *rest = ('1', True, [1,2])

In [29]:
a,b, *_ = ('1', True, [1,2])

In [30]:
b_list = list(tup2)

In [31]:
b_list

[1, 2, 3]

In [32]:
tup2

(1, 2, 3)

In [33]:
gen = range(10)

In [34]:
gen

range(0, 10)

In [35]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
gen?

Type:        range
String form: range(0, 10)
Length:      10
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [37]:
x = [1,2,]

In [38]:
x.extend([3,4])

In [39]:
x

[1, 2, 3, 4]

In [40]:
x[1:2]

[2]

In [41]:
x[:5]

[1, 2, 3, 4]

In [42]:
x[:-1]

[1, 2, 3]

In [43]:
x[-10:]

[1, 2, 3, 4]

In [44]:
x[-2:]

[3, 4]

In [45]:
x[::2]

[1, 3]

In [46]:
emp_dict = {}

In [47]:
d1 = {'1': a, '2': b}

In [48]:
d1

{'1': '1', '2': True}

In [49]:
d1?

Type:        dict
String form: {'1': '1', '2': True}
Length:      2
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [50]:
d2 = {'a': 1, 'b': 2}

In [51]:
d2

{'a': 1, 'b': 2}

In [52]:
d2?

Type:        dict
String form: {'a': 1, 'b': 2}
Length:      2
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [53]:
a in d2

False

In [54]:
"a" in d2

True

In [55]:
d2.items

In [56]:
d2.items()

dict_items([('a', 1), ('b', 2)])

In [57]:
zip(range(5), reversed(range(5)))

In [63]:
val = d2.get('c', 5)
val

5

In [1]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

mapping = dict(zip(tup1, tup2))
mapping

{1: 4, 2: 5, 3: 6}

In [2]:
from collections import defaultdict
default_dict = defaultdict(list)

In [3]:
set([1, 1])

{1}

In [6]:
[x for x in 'hello world' if x not in 'aeiou']

['h', 'l', 'l', ' ', 'w', 'r', 'l', 'd']

In [9]:
loc_mapping = {val: index for index, val in enumerate('hello world')}

In [10]:
loc_mapping

{'h': 0, 'e': 1, 'l': 9, 'o': 7, ' ': 5, 'w': 6, 'r': 8, 'd': 10}